<div class="top-left-margin">
  <a class="waves-effect waves-light btn-large row m2" href="app/views/layouts/add_festival.html.erb">Back</a>
</div>
<div class="row"><b>Lorem stage</b>

  <div class="row">
    <div class="input col m1">
      <p>2020. 06. 06.</p>
    </div>
    <div class="datepicker-calendar-container col m6">
      <button class="waves-effect waves-light btn-large background transparent" style="color: #5a5a5a">Add show
      </button>
    </div>
  </div>
  <div class="row">
    <div class="input-field col m2">
      <input class="validate" id="performer" placeholder="Band" type="text">
      <label for="performer">Performer</label>
    </div>
    <div class="input-field col m2">
      <input class="validate" id="time" placeholder="18:00" type="text">
      <label for="time">Time</label>
    </div>
  </div>


  <div class="center">
    <a class="waves-effect btn-large background transparent" href="app/views/layouts/festivals.html.erb" style="color: #5a5a5a">Cancel</a>
    <a class="waves-effect waves-light btn-large" href="app/views/layouts/festivals.html.erb">Add festival</a>
  </div>
</div>